################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Vivek.BookStore/.vs/Vivek.BookStore
/Vivek.BookStore/bin/Debug/netcoreapp3.1
/Vivek.BookStore/obj
